body {
    font-family: sans-serif;
    margin: 20px;
    background: #f5f5f5;
}

h1 {
text-align: center;
}

form {
    justify-content: center;
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 50px 0px;
}

form label {
    color: red;
    font-weight: bold;
    margin-left: -48px;
}

form input, form select, form button {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

form select {
    color:grey;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    font-size:12px;
    margin-bottom: 50px;
}

thead, td.headings {
    background-color:lightyellow;
}

th, td {
    border: 1px solid lightslategrey;
    padding: 4px;
    text-align: center;
    min-width: 60px;
    font-size: 10px;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 4px;
}

#course-list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 20px auto;
}

#course-list li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 20px;
}

.course-item-field {
    white-space: nowrap;
}

#course-list li button {
    background-color: #c62828;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

#course-list li button:hover {
  background-color: #b71c1c;
}
